<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="data source=(local); user id=sa; password=P@ssw0rd;" />
  </connectionStrings>
  <appSettings>
    <add key="StoredProceduresTemplates" value="SpTemplates.xml" />
  </appSettings>
  
</configuration>